body{
    background-color: grey;
}
.container-fluid{
    background-color: black;
}
#top{
    padding-top: 2em;
    font-size: 60px;
    color: grey;
    font-family: 'Archivo Black', sans-serif;;
}
#design{
    color: grey;
    font-size: 35px;
    font-family:'Cinzel Decorative', cursive;
}
#cards{
    transition: transform,1s;
}
.p-5{
    background-color: black;
    border: 0.1rem solid #ffb52b;
    box-shadow: 0.2rem 0.4rem #ffb52b;
}
#cards :hover{
    transform: scale(1.2);

}
#icon{
    padding-left: 3rem;
    padding-right: 3rem;
    size: 2em;
}
#card{
    text-align: inherit;
    color: grey;
}
#btns{
    color: #ffb52b;
    background-color: gray;
}
#alignimg{
    padding-left: 20px;
    padding-top: 20px;
}
#imgs{
    height: 300px;
    border: 2px solid black;
    transition: transform,0.5s;
    
}
#imgs:hover{
    transform: scale(1.2);
}
#about{
    font-size: 25px;
    color: gray;
    font-family: Georgia;
}
#hire{
    color: #ffb52b;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
#mail{
    border: 5px solid black;
    height: 38px;
    width: 300px;
}
#hirebutn{
    color:#ffb52b;
    background-color: black;
    height: 42px;
}
#firstfoot{
    color: grey;
    padding-top: 20px;
    padding-left: 28px;
}
#footer{
    color: grey;
    padding-top:20px;
    padding-left: 15px;
}
#foot{
    padding-left: 2em;
    color: #ffb52b;
    font-family: 'Playfair Display', serif;
}
#icons{
    height:30px;
    padding-left: 15px;
}